@tailwind base;
@tailwind components;
@tailwind utilities;

.grade {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 32, 0.65) 0%,
    #141420 100%
  );
}

/* Set the container div */
.container {
  position: relative;
  height: 240;
    width: 320;
}

/* Create the scan line */
.scan-line {
  position: absolute;
  height: 5px;
  background-color: transparent;
  border-bottom: 1px solid red;  top: 0px;
  left: 0;
  right:0px;
  animation: scan 2s linear infinite;
}

/* Animate the scan line */
@keyframes scan {
  from {
    top: 35px;
  }
  to {
    top: 78%;
  }
}
